
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('@/assets/fonts/Montserrat-Arabic Regular.ttf') format('woff2');
}

.page-container {
    width: 90%;
    margin: auto;
}